 /* Colors
 Teal:  #33cca0;
 Pink:  #ee2666;
 White: #fce9e0;
*/


body, html {
    padding: 0;
    margin: 0;
}


/* Latest FireFox hide scrollbar */
@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}

body {
    background-image: url("../img/1.jpg");
    background-size: cover;
    font-family: 'Schoolbell', cursive;
    postion: relative;
    display: flex;
    align-items: center;
}


#main {
    border-radius: 20px;
    /* width: 640px; */
    background-color: rgba(0, 0, 0, .6);
    padding: 5px 20px;
    height: 80%;
    overflow: scroll;
    -ms-overflow-style: none;   /* IE 10+ */
    overflow: -moz-scrollbars-none; /* Older FireFox: ; */
}


/* Webkit hide scrollbar */
::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */

}
.meta-logo {
    padding: 30px;
}

h1 {
    color: #33cca0;
    font-size: 70px;
    font-family: 'Lobster', cursive;
    margin: 0px;
}

h2 {
    color: #fce9e0;
    margin: 0px;
    font-weight: normal;
    font-size: 54px;
    border-bottom: solid 4px #ee2666;
    margin-bottom: 10px;
}

h3 {
    font-size: 50px;
    border-bottom: solid 4px #ee2666;
}


.number {
    color: #ee2666;
}

a {
    color: #fce9e0;
}

a:visited {
    color: none;

}
a:hover {
    color: #ee2666;
    text-decoration: none;
}

a:active {
    color: #33cca0;
}

.row {
    padding: 20px;
}

.teal {
    color: #33cca0;
}

.pink {
    color: #ee2666;
}

.logo-link:hover img {
    border: solid 4px #ee2666;
    border-radius: 20px;
    background-color: black;
}


p {
    /* line-height: 150%; */
    font-size: 32px;
    color: #fce9e0;
    line-height: 130%;
}


.blog-description {
    padding-left: 80px;
}
